/oh-package-lock.json5
/package-lock.json
/.clang-format
/oh_modules
/node_modules
/entry/node_modules
/.idea
/.hvigor
/build
/local.properties
/entry/oh-package-lock.json5
**/build
.cxx
/.clangd
/.clang-tidy
**/.test
**/BuildProfile.ets
**/oh-package-lock.json5
/package.json

**/src/main/resources/rawfile/flutter_assets/
**/libs/**/libapp.so
**/libs/**/libflutter.so
**/libs/**/libvmservice_snapshot.so
/entry/src/main/resources/rawfile/
